<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <style>
        header {
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 100%;

        }

        .logo {
            border: 50px;
        }

        .tieude {
            display: flex;
            justify-content: center;
        }

        .listbook {
            display: flex;
            justify-content: center;
        }
        .baner img {
            width: 100%;
            height: auto;
        }

    </style>
</head>

<body>
    <header class="bg-dark jumbotron p-2">
        <div class="bg-light logo">
            <h1><strong class="text-dark m-2">Asm MVC</strong></h1>
        </div>
        <div class="tieude">
            <h1 class="text-light">Home</h1>
        </div>
        <div class="create text-center p-2">
            <a href="/list" class="btn btn-primary">
                <h4>Admin</h4>
            </a>
            <a href="/log" class="btn btn-primary">
                <h4>Login</h4>
            </a>

        </div>

    </header>
    <div class="container p-4">
        <div class="baner p-2">
            <img src="https://fc00.deviantart.net/fs71/f/2014/330/4/d/conan_by_jzcool123-d87r9sm.png" alt="">
        </div>
        <div class="products listbook p-2">
            <% products.forEach((product)=> { %>
                <div class="card col-2 p-2 ">
                    <img src="/uploads/<%= product.image %>" style="height: 100px;" alt="">
                    <p>Title: <%= product.title %>
                    </p>
                    <p>Author: <%= product.author %>
                    </p>
                    <p>Year: <%= product.year %>
                    </p>
                    <a href="/deltal/<%= product.id %>" class="btn btn-warning">Chi tiết sản phẩm</a>
                </div>
                <% }) %>
        </div>
    </div>
    <footer class="bg-dark text-light text-center p-2">
        <p>Copyright &copy; 2020</p>
    </footer>
</body>

</html>